*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1f5f8;
    color: #102a42;
    line-height: 24px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.nav{
    background-color: #ffffff;
    color: #102a42;
    line-height: 24px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.nav-center{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:10px;
    margin: 0 183px;

}
.nav-logo img{
  height:40px;  
}
.nav-menu{
    display: flex;
}

.nav-menu a {
    color: #324d67;
    letter-spacing:4px;
    font-family:'Open Sans',sans-serif;
    margin: 0 8px;
    text-transform: capitalize;
}
.nav-menu a:hover{
    /* background-color:  hsl(205, 86%, 81%); */
    color: hsl(205, 78%, 60%);
    
}
.nav-social{
    display: flex;
}
.nav-social a {
color: #8bcbf9;
display: inline;
margin: 0 8px;
text-align: left;
}
.menu-toggle{
    display:none;
}
@media screen and (max-width: 992) {
    .nav-center{
        max-width: 1170px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 800px) {
  
    .nav-social{
        display:none;
    }
    .menu-toggle{
        display:block;
    }
    .nav-center{
        display: block;
        
    }
    .nav-logo {
        display: flex;
        align-items: center;
        justify-content:space-between;
    }
  
    .nav-menu{ 
        display: none;
        flex-direction:column;  
    }
    .nav-menu li {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
    .nav-menu a {
       transform: all 0.3s linear;
    }
  }