*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f1f5f8;
    color: #102a42;
    line-height: 24px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.nav{
    background-color: #ffffff;
    color: #102a42;
    line-height: 24px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.nav-center{
    max-width:1170px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin:0 183px;
    padding:16px;
}
.nav-logo{
    
}
.nav-menu{
    display: flex;
}
.nav-menu a {
    color: #324d67;
    letter-spacing:4px;
    margin: 0 8px;
    text-transform: capitalize;
}
.nav-social{
    display: flex;
}
.nav-social a {
color: #8bcbf9;
display: inline;
margin: 0 8px;
text-align: left;
}
